<div id="privacy-policy-home-page" class="page-container">
    <div class="page-header h-auto">
        <div class="title heading">
            <ul class="table w-auto">
                <li>
                    <i class="fas fa-user-shield"></i>
                </li>
                <li>
                    {{ 'privacyPolicy.label' | translate | titlecase }}
                </li>
            </ul>
        </div>
    </div>
    <div class="page-body">
        <p-dataView
            [value]="datasource"
            [loading]="dataView.isLoading"
            loadingIcon="fas fa-spin fa-spinner"
            layout="grid">
            <ng-template let-pp pTemplate="gridItem">
                <div class="consent-tabpanel"
                    *ngIf="
                        pp.consent !== null &&
                        !dataView.isLoading
                    ">
                    <p-panel [showHeader]="false">
                        <div class="name">
                            <span *ngIf="appService.env.lang === 'th'">{{ pp.consent.nameTh }}</span>
                            <span *ngIf="appService.env.lang === 'en'">{{ pp.consent.nameEn }}</span>
                        </div>
                        <div class="mt-1">
                            <a href="{{ msentService.doGetPage(msentService.apiConfig.route.consent, userCode) }}" class="font-medium text-base text-danger underline">{{ 'privacyPolicy.consent.update.label' | translate | titlecase }}</a>
                        </div>
                        <div *ngFor="let topic of pp.consent.consentTopics">
                            <div class="topic paragraph">
                                <span *ngIf="appService.env.lang === 'th'">{{ topic.topicTh }}</span>
                                <span *ngIf="appService.env.lang === 'en'">{{ topic.topicEn }}</span>
                            </div>
                            <div *ngFor="let choice of topic.consentChoices">
                                <div class="choice paragraph">
                                    <ul class="list-none mt-0 mb-0">
                                        <li class="pb-2">
                                            <p-tag
                                                severity="info"
                                                [rounded]="true"
                                                styleClass="result paragraph">
                                                {{ ('privacyPolicy.consent.' + (pp.consent.consentChoiceIds.indexOf(choice.id) >= 0 ? 'agree' : 'disagree') + '.label') | translate | titlecase }}
                                            </p-tag>
                                        </li>
                                        <li>
                                            <span *ngIf="appService.env.lang === 'th'"
                                                [innerHTML]="choice.choiceTh | nl2br">
                                            </span>
                                            <span *ngIf="appService.env.lang === 'en'"
                                                [innerHTML]="choice.choiceEn | nl2br">
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <!--
                    for (var i = 0; i < data.consentTopics.length; i++) {
                        var consentChoiceTH = "";
                        var consentChoiceEN = "";

                        for (var j = 0; j < data.consentTopics[i].consentChoices.length; j++) {
                            consentChoiceTH += (
                                "<div class='choice'>" +
                                "   <div class='checkbox-content'>" +
                                "       <ul>" +
                                "           <li class='checkbox-inputcol'><input class='checkbox' type='checkbox' name='accept'" + (data.consentChoiceIds.indexOf(data.consentTopics[i].consentChoices[j].id) >= 0 ? " checked" : "") + " disabled /></li>" +
                                "           <li class='checkbox-labelcol'><div>" + data.consentTopics[i].consentChoices[j].choiceTh + "</div></li>" +
                                "       </ul>" +
                                "   </div>" +
                                "   <div class='clear'></div>" +
                                "</div>"
                            );

                            consentChoiceEN += (
                                "<div class='choice'>" +
                                "   <div class='checkbox-content'>" +
                                "       <ul>" +
                                "           <li class='checkbox-inputcol'><input class='checkbox' type='checkbox' name='accept'" + (data.consentChoiceIds.indexOf(data.consentTopics[i].consentChoices[j].id) >= 0 ? " checked" : "") + " disabled /></li>" +
                                "           <li class='checkbox-labelcol'><div>" + data.consentTopics[i].consentChoices[j].choiceEn + "</div></li>" +
                                "       </ul>" +
                                "   </div>" +
                                "   <div class='clear'></div>" +
                                "</div>"
                            );
                        }

                        consentTopicTH += (
                            "<div class='consent-topics'>" +
                            "   <div class='topic'>" + data.consentTopics[i].topicTh + "</div>" +
                            "   <div class='choices'>" + consentChoiceTH + "</div>" +
                            "</div>"
                        );

                        consentTopicEN += (
                            "<div class='consent-topics'>" +
                            "   <div class='topic'>" + data.consentTopics[i].topicEn + "</div>" +
                            "   <div class='choices'>" + consentChoiceEN + "</div>" +
                            "</div>"
                        )
                    }
                -->
            </ng-template>
        </p-dataView>
    </div>
</div>
