/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๒/๑๐/๒๕๖๔>
Modify date : <๐๕/๐๑/๒๕๖๕>
Description : <>
=============================================
*/

@import '../../../variables.scss';

#questionnaire-fillout-page.page-container {
    width: $screenMaxWidth !important;
    padding-top: 0;
    margin: 0 auto;
    & .questionnaireset::ng-deep .p-panel {
        & .p-panel-content {
            text-align: center;
            padding: 0 !important;
            & .namedescription,
            & .notice {
                padding-top: 1rem !important;
                padding-right: 1.5rem !important;
                padding-left:  1.5rem !important;
            }
            & .namedescription,
            & .notice {
                padding-bottom: 1.25rem !important;
            }
            & .name {
                line-height: 1.5;
                font-size: 1.45rem;
                font-weight: $fontStyleSemibold;
            }
            & .description {
                line-height: 1.6;
                font-size: 1.2rem;
                font-weight: $fontStyleLight;
                margin-top: 0.25rem;
            }
            & .notice {
                font-size: 1.125rem;
                background-color: var(--blue-100);
                border-bottom-right-radius: 12px;
                border-bottom-left-radius: 12px;
            }
            & .p-divider.p-divider-horizontal {
                &::before {
                    border-top-color: var(--surface-400);
                    border-top-style: dashed;
                    border-bottom-width: 0;
                }
            }
        }
    }
    & ::ng-deep {
        & .p-panel {
            & .p-panel-content {
                line-height: 1.7;
                font-size: 1.05em;
                text-align: left;
                border-top: 1px solid #DADCE0 !important;
                border-radius: 12px;
                & .questionnairequestion {
                    color: #000000;
                    line-height: 1.85;
                    font-size: 1.175rem;
                    font-weight: $fontStyleMedium;
                    margin-bottom: 1.5rem;
                    & .no {
                        width: 34px;
                        padding-right: 0.5rem;
                    }
                    & .description {
                        font-size: 0.875rem;
                        font-weight: $fontStyleLight;
                        opacity: 0.6;
                    }
                }
                & .questionnaireanswerset {
                    font-weight: $fontStyleRegular;
                    margin-top: 1.25rem;
                }
                & .questionnaireanswer {
                    font-weight: $fontStyleLight;
                    margin-top: 0.75rem;
                    & ::ng-deep {
                        & .p-radiobutton,
                        & .p-checkbox {
                            height: 24px;
                        }
                        @media screen and (min--moz-device-pixel-ratio: 0) {
                            & .p-radiobutton,
                            & .p-checkbox {
                                height: 23px;
                            }
                        }
                    }
                    & .label {
                        font-weight: $fontStyleRegular;
                    }
                    & .viewanswer {
                        font-weight: $fontStyleRegular;
                        opacity: 0.5;
                        border-bottom: 1px dotted rgba(0, 0, 0, 0.5)
                    }
                    & .namedescription {
                        & .description {
                            font-size: 0.875rem;
                            opacity: 0.6;
                        }
                    }
                    & .choice {
                        & .inputtype {
                            width: 34px;
                            & i {
                                width: 20px;
                                text-align: center;
                            }
                        }
                        & .choiceorder {
                            width: 36px;
                        }
                        & .specify {
                            margin-top: 0.5rem;
                        }
                    }
                    & .text {
                        margin-top: 1.25rem;
                        & .inputtype {
                            & .p-fluid {
                                & .namedescription {
                                    padding-bottom: 0.5rem;
                                    display: block;
                                }
                            }
                        }

                    }
                }
            }
        }
        & p-toast {
            width: 100%;
            display: block;
            position: fixed;
            z-index: 1000;
            & .p-toast {
                width: 1168px;
                position: absolute;
                top: 73px;
                right: 1rem;
                left: 1rem;
                & .p-toast-message {
                    border-width: 2px;
                    border-radius: 4px;
                    & .p-toast-message-content {
                        line-height: 1.5;
                        font-size: 1.25rem;
                        padding: 1rem 4rem 1.25rem 1.5rem;
                        & .p-toast-message-text {
                            margin: 0;
                            & .p-toast-summary {
                                display: none;
                            }
                            & .p-toast-detail {
                                margin: 0;
                            }
                        }
                    }
                    & .p-toast-icon-close {
                        background-color: rgba(255, 255, 255, 0.3);
                        padding-top: 4px;
                        position: absolute;
                        right: 1rem;
                        &:focus {
                            box-shadow: none;
                        }
                        & .p-toast-icon-close-icon::before {
                            content: "X";
                            font-family: $fontFamilyNoto;
                            font-size: 1rem;
                            font-weight: $fontStyleExtrabold;
                        }
                    }
                }
            }
        }
    }
    & .questionnairesection {
        & ::ng-deep .p-panel {
            & .p-panel-content {
                background-color: #E5E1DA;
                border: 0 !important;
                & .name {
                    font-size: 1.25rem;
                    font-weight: $fontStyleSemibold;
                    & .titlename {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    & .page-header {
        padding-right: 0;
        padding-left: 0;
        & .toolbar {
            width: 1200px;
            height: 73px;
            background-color: $backgroundColor !important;
            padding-top: 1rem;
            padding-right: 1rem;
            padding-left: 1rem;
            display: table;
            table-layout: fixed;
            & .p-button {
                width: 100%;
                padding-top: 0;
                padding-bottom: 0;
            }
            & .left,
            & .center,
            & .right {
                display: table-cell;
            }
            & .left,
            & .right {
                width: 77px;
            }
            & ::ng-deep .p-tooltip {
                top: 46px !important;
            }
            & ::ng-deep .p-overlaypanel  {
                background-color: $backgroundColor;
                text-align: center;
                border: 2px solid $textColor;
                border-radius: 4px;
                top: 29px !important;
                left: 0 !important;
                & .p-overlaypanel-content {
                    padding: 0;
                }
                & ::ng-deep .p-orderlist {
                    & .p-orderlist-controls {
                        display: none;
                    }
                    & .p-orderlist-list {
                        background-color: transparent;
                        border: 0;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
            & .left {
                & .questionnairemenu-nav {
                    &.active {
                        & .p-button {
                            border-bottom-right-radius: 0 !important;
                            border-bottom-left-radius: 0 !important;
                        }
                    }
                }
                & ::ng-deep .questionnairemenu-template.p-overlaypanel  {
                    width: 259px;
                    height: 60px;
                    border-top-left-radius: 0;
                }
            }
            & .center {
                & .questionnairesection-nav {
                    margin: 0 auto;
                    display: table;
                    table-layout: fixed;
                    & .previous,
                    & .selected,
                    & .next {
                        display: table-cell !important;
                    }
                    & .previous,
                    & .next {
                        width: 36px;
                        & .p-button {
                            padding-right: 0;
                            padding-left: 0;
                        }
                    }
                    & .previous {
                        & .p-button {
                            border-right: 0 !important;
                            border-top-right-radius: 0 !important;
                            border-bottom-right-radius: 0 !important;
                        }
                        & ::ng-deep .p-tooltip {
                            right: auto !important;
                            left: 0 !important;
                        }
                    }
                    & .selected {
                        width: 238px !important ;
                        & .p-button {
                            border-radius: 0 !important;
                            padding-right: 1rem;
                            padding-left: 1rem;
                        }
                    }
                    & .next {
                        & .p-button {
                            border-left: 0 !important;
                            border-top-left-radius: 0 !important;
                            border-bottom-left-radius: 0 !important;
                        }
                        & ::ng-deep .p-tooltip {
                            right: 0 !important;
                            left: auto !important
                        }
                    }
                    &.active {
                        & .previous {
                            & .p-button {
                                border-bottom-left-radius: 0 !important;
                            }
                        }
                        & .next {
                            & .p-button {
                                border-bottom-right-radius: 0 !important;
                            }
                        }
                    }
                }
                & ::ng-deep .questionnairesection-template.p-overlaypanel  {
                    width: 310px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
            & .right {
                & .p-button {
                    width: 77px;
                }
                & i.fa-spin {
                    font-size: 2.5rem;
                    position: relative;
                    top: -2px;
                }
            }
        }
        & .title {
            padding-top: 73px;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
    & .page-body {
        & .questionnairesection-tabpanel {
            width: 100%;
            & .questionnairequestions {
                margin-top: 1rem;
                & ::ng-deep .p-panel {
                    position: relative;
                    &.question-error {
                        & .p-panel-content {
                            background-color:rgba(211, 47, 47, 0.8);
                            border-color: $errorBorderColor !important;
                        }
                    }
                    & .p-panel-content {
                        padding-right: 1.25rem !important;
                        padding-bottom: 1.25rem !important;
                    }
                }
            }
            & .questionnaireanswer {
                & .institute .table,
                & .personaldetail .table,
                & .address .table {
                    margin-top: 0.75rem;
                    & .label {
                        width: 210px;
                    }
                }
                & .address .table {
                    & .label {
                        width: 196px;
                    }
                    &.country,
                    &.province,
                    &.district,
                    &.subdistrict {
                        & .label {
                            vertical-align: top;
                            & label {
                                position: relative;
                                top: 8px;
                            }
                        }
                    }
                }
            }
        }
        & .p-button {
            &.submit {
                width: 310px;
                height: 55px;
                font-size: 1.25rem;
            }
        }
    }
}

@media screen and (max-width: 1216px) {
    #questionnaire-fillout-page.page-container {
        width: 100% !important;
        & .page-header {
            & .toolbar {
                width: 100% !important;
            }
        }
        & ::ng-deep .p-toast {
            width: auto !important;
            min-width: 324px;
        }
    }
}

@media screen and (max-width: 678px) {
    #questionnaire-fillout-page.page-container {
        & ::ng-deep .p-panel {
            & .p-panel-content {
                & .questionnaireset {
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (max-width: 590px) {
    #questionnaire-fillout-page.page-container {
        & .page-header {
            & .toolbar.fixed {
                & .left,
                & .right {
                    width: 60px;
                }
                & .center {
                    margin-top: 0.5rem;
                    & .questionnairesection-nav {
                        width: 100%;
                        & .selected {
                            width: 100% !important ;
                        }
                    }
                    & ::ng-deep .questionnairesection-template.p-overlaypanel  {
                        width: 100%;
                    }
                }
                & .right {
                    & .p-button {
                        width: 50px;
                        font-size: 0.875rem;
                        padding: 0;
                    }
                }
            }
        }
        & .page-body {
            & .p-button {
                &.submit {
                    width: 100%;
                }
            }
        }
        & ::ng-deep .p-panel {
            & .p-panel-content {
                & .questionnaireanswer {
                    & .institute,
                    & .personaldetail,
                    & .address {
                        & .table,
                        & .label,
                        & .viewanswer,
                        & .editanswer {
                            width: 100% !important;
                            display: block;
                        }
                        & .viewanswer,
                        & .editanswer {
                            margin-top: 0.5rem;
                        }
                        & .table:not(:first-child) {
                            margin-top: 1.25rem !important;
                        }
                    }
                    & .address {
                        & .country,
                        & .province,
                        & .district,
                        & .subdistrict {
                            & .label label {
                                top: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
