<div id="questionnaire-fillout-page" class="page-container">
    <div class="page-header block h-auto">
        <div *ngIf="qtnSet.datasource === null">
            <div class="title block heading text-center text-2xl pt-3">
                {{ 'questionnaire.error.notFound.label' | translate | titlecase }}
            </div>
            <div class="toolbar block text-center h-auto pt-0 mt-3">
                <ng-container *ngTemplateOutlet="questionnaireSetExploreTemplate"></ng-container>
            </div>
        </div>
        <div *ngIf="qtnSet.datasource !== null">
            <div class="toolbar block fixed z-2">
                <div class="inline-block left">
                    <ng-container *ngTemplateOutlet="questionnaireSetExploreTemplate"></ng-container>
                </div>
                <div class="inline-block absolute right">
                    <div class="questionnairesection-nav"
                        [ngClass]="{
                            'active': qtnSection.panel.toggle
                        }">
                        <div #previousButton class="previous">
                            <button pButton type="button" class="button button-outlined"
                                [disabled]="qtnSection.orderList.activeIndex === 0 || qtnSection.dataView.isLoading"
                                pTooltip="{{ 'previous.label' | translate | titlecase }}"
                                [tooltipDisabled]="qtnSection.orderList.activeIndex === 0 || qtnSection.dataView.isLoading"
                                [appendTo]="previousButton"
                                (click)="qtnSection.navigate.previous()">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </button>
                        </div>
                        <div class="selected">
                            <button pButton type="button" class="button button-outlined"
                                [ngClass]="{
                                    'active': qtnSection.panel.toggle
                                }"
                                [disabled]="qtnSection.dataView.isLoading"
                                (click)="questionnaireSectionPanel.toggle($event)">
                                <span>
                                    {{
                                        (qtnSection.datasource[qtnSection.orderList.activeIndex].titleName[appService.env.lang] | titlecase) +
                                        ' ' +
                                        qtnSection.datasource[qtnSection.orderList.activeIndex].no +
                                        ' / ' +
                                        qtnSection.datasource.length
                                    }}
                                </span>
                            </button>
                        </div>
                        <div #nextButton class="next">
                            <button pButton type="button" class="button button-outlined"
                                [disabled]="(qtnSection.orderList.activeIndex + 1) === qtnSection.datasource.length || qtnSection.dataView.isLoading"
                                pTooltip="{{ 'next.label' | translate | titlecase }}"
                                [tooltipDisabled]="(qtnSection.orderList.activeIndex + 1) === qtnSection.datasource.length || qtnSection.dataView.isLoading"
                                [appendTo]="nextButton"
                                (click)="qtnSection.navigate.next()">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                        <p-overlayPanel #questionnaireSectionPanel
                            [dismissable]="true"
                            [showCloseIcon]="false"
                            [appendTo]="questionnaireSectionTemplate"
                            [showTransitionOptions]="'0ms'"
                            [hideTransitionOptions]="'0ms'"
                            (onShow)="qtnSection.panel.toggle = true"
                            (onHide)="qtnSection.panel.toggle = false"
                            styleClass="questionnairesection-template">
                            <ng-template pTemplate >
                                <p-orderList
                                    [value]="qtnSection.datasource"
                                    (onSelectionChange)="
                                        questionnaireSectionPanel.hide();
                                        qtnSection.orderList.selection($event.value)
                                    ">
                                    <ng-template let-qtnsection pTemplate="item">
                                        {{ (qtnsection.titleName[appService.env.lang] | titlecase) + ' ' + qtnsection.no }}
                                    </ng-template>
                                </p-orderList>
                            </ng-template>
                        </p-overlayPanel>
                        <div #questionnaireSectionTemplate></div>
                    </div>
                </div>
            </div>
            <div class="title block heading">
                <p-panel [showHeader]="false">
                    <div class="questionnaireset">
                        <div class="name" *ngIf="qtnSet.datasource.name !== null">
                            {{ qtnSet.datasource.name[appService.env.lang] }}
                        </div>
                        <div class="description paragraph" *ngIf="qtnSet.datasource.description !== null">
                            {{ qtnSet.datasource.description[appService.env.lang] }}
                        </div>
                        <div *ngIf="qtnSet.datasource.cancelStatus === 'N' && qtnSection.orderList.activeIndex === 0">
                            <p-divider></p-divider>
                            <div class="notice paragraph" *ngIf="qtnSet.datasource.notice !== null">
                                <span class="text-pink-500 font-semibold">{{ 'notice.label' | translate | titlecase }}&nbsp;</span>
                                {{ qtnSet.datasource.notice[appService.env.lang] }}
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
    <div class="page-body">
        <p-dataView
            class="questionnairesections"
            [value]="qtnSection.datasource"
            [loading]="qtnSection.dataView.isLoading"
            loadingIcon="fas fa-spin fa-spinner"
            layout="grid"
            *ngIf="qtnSet.datasource !== null">
            <ng-template let-qtnsection pTemplate="gridItem">
                <div class="questionnairesection-tabpanel" *ngIf="!qtnSection.dataView.isLoading"
                    [ngClass]="{
                        'block': qtnsection.ID === qtnSection.datasource[qtnSection.orderList.activeIndex].ID,
                        'hidden': qtnsection.ID !== qtnSection.datasource[qtnSection.orderList.activeIndex].ID
                    }">
                    <div class="questionnairesection">
                        <p-panel [showHeader]="false">
                            <div class="name">
                                <span class="titlename">{{ (qtnsection.titleName[appService.env.lang] | titlecase) + ' ' +  qtnsection.no }}</span>
                                &nbsp;&nbsp;{{ qtnsection.name[appService.env.lang] }}
                            </div>
                        </p-panel>
                    </div>
                    <div class="questionnairequestions" *ngFor="let qtnquestion of qtnQuestion[qtnsection.ID].datasource">
                        <p-panel [showHeader]="false">
                            <div class="questionnairequestion paragraph">
                                <ul class="table">
                                    <li class="no">
                                        {{ qtnquestion.no + '.' }}
                                    </li>
                                    <li class="name">
                                        {{ qtnquestion.name[appService.env.lang] }}
                                    </li>
                                </ul>
                            </div>
                            <div class="questionnaireanswerset paragraph" *ngFor="let qtnanswerset of qtnAnswerSet[qtnquestion.ID].datasource">
                                <div class="titlename" *ngIf="qtnanswerset.titleName[appService.env.lang] !== null">
                                    {{ qtnanswerset.titleName[appService.env.lang] }}
                                </div>
                                <div class="questionnaireanswer" *ngFor="let qtnanswer of qtnAnswer[qtnanswerset.ID].datasource">
                                    <ul class="table choice"
                                        *ngIf="
                                            qtnanswer.inputType === inputType.singleChoice ||
                                            qtnanswer.inputType === inputType.multipleChoice ||
                                            (qtnanswer.inputType === null && qtnanswer.choiceOrder === null)
                                        ">
                                        <li class="inputtype">
                                            <p-radioButton
                                                [inputId]="qtnanswer.ID"
                                                [name]="qtnAnswer[qtnanswerset.ID].formField.singleChoice"
                                                [value]="qtnanswer.value"
                                                [(ngModel)]="qtnAnswer[qtnanswerset.ID].formField.singleChoice"
                                                *ngIf="qtnanswer.inputType === inputType.singleChoice">
                                            </p-radioButton>
                                            <p-checkbox
                                                [inputId]="qtnanswer.ID"
                                                [name]="qtnAnswer[qtnanswerset.ID].formField.multipleChoice"
                                                [value]="qtnanswer.value"
                                                checkboxIcon="fas fa-check"
                                                [(ngModel)]="qtnAnswer[qtnanswerset.ID].formField.multipleChoice"
                                                *ngIf="qtnanswer.inputType === inputType.multipleChoice">
                                            </p-checkbox>
                                            <i class="fas fa-angle-down" *ngIf="qtnanswer.inputType === null && qtnanswer.choiceOrder === null"></i>
                                        </li>
                                        <li>
                                            <ul class="table">
                                                <li class="choiceorder" *ngIf="qtnanswer.choiceOrder !== null">
                                                    <label [for]="qtnanswer.ID">{{ qtnanswer.choiceOrder }}</label>
                                                </li>
                                                <li class="name" *ngIf="qtnanswer.name[appService.env.lang] !== null">
                                                    <label [for]="qtnanswer.ID"
                                                        [ngClass]="{
                                                            'underline': (qtnanswer.inputType === null && qtnanswer.choiceOrder === null)
                                                        }">
                                                        {{ qtnanswer.name[appService.env.lang] }}
                                                    </label>
                                                </li>
                                            </ul>
                                            <div *ngIf="qtnanswer.specify !== null">
                                                <div class="specify p-fluid" *ngFor="let qtnanswerspecify of qtnanswer.specify">
                                                    <textarea pInputTextarea
                                                        [autoResize]="true"
                                                        [(ngModel)]="qtnAnswer[qtnanswerset.ID].formField.longAnswerText[qtnanswer.ID]"
                                                        *ngIf="qtnanswerspecify.inputType === inputType.longAnswerText">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="table text"
                                        *ngIf="
                                            qtnanswer.inputType === inputType.shortAnswerText ||
                                            qtnanswer.inputType === inputType.longAnswerText
                                        ">
                                        <li class="inputtype">
                                            <div class="p-fluid">
                                                <label *ngIf="qtnanswer.name[appService.env.lang] !== null">{{ qtnanswer.name[appService.env.lang] }}</label>
                                                <input pInputText type="text"
                                                    [(ngModel)]="qtnAnswer[qtnanswerset.ID].formField.shortAnswerText[qtnanswer.ID]"
                                                    *ngIf="qtnanswer.inputType === inputType.shortAnswerText"
                                                />
                                                <textarea pInputTextarea
                                                    [autoResize]="true"
                                                    [(ngModel)]="qtnAnswer[qtnanswerset.ID].formField.longAnswerText[qtnanswer.ID]"
                                                    *ngIf="qtnanswer.inputType === inputType.longAnswerText">
                                                </textarea>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
<ng-template #questionnaireSetExploreTemplate>
    <button pButton type="button" class="button button-outlined text-left"
        [disabled]="qtnSection.dataView.isLoading"
        (click)="router.navigate(['Questionnaire'])">
        <i class="fas fa-bars"></i>
        &nbsp;&nbsp;<span>{{ 'questionnaire.explore.label' | translate }}</span>
    </button>
</ng-template>
