<div id="questionnaire-home-page" class="page-container">
    <div class="page-header h-auto">
        <div class="title heading">
            <ul class="table w-auto">
                <li>
                    <i class="fas fa-th-large"></i>
                </li>
                <li>
                    {{ 'systemName.questionnaire.set.label' | translate | titlecase }}
                </li>
            </ul>
        </div>
        <div class="toolbar">
            <div #reloadButton class="toolbar-btn">
                <button pButton type="button" class="button button-rounded button-text"
                    [disabled]="qtnSet.dataView.isLoading"
                    pTooltip="{{ 'reload.label' | translate | titlecase }}"
                    [tooltipDisabled]="qtnSet.dataView.isLoading"
                    [appendTo]="reloadButton"
                    (click)="qtnSet.getDataSource()">
                    <i class="fas fa-sync-alt" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="page-body">
        <p-dataView
            class="questionnairesets"
            [value]="qtnSet.datasource"
            [loading]="qtnSet.dataView.isLoading"
            loadingIcon="fas fa-spin fa-spinner"
            layout="grid">
            <ng-template let-qtnset pTemplate="gridItem">
                <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                    <p-card>
                        <ng-template pTemplate="header">
                            Last updated on {{ qtnset.doneDate }}
                        </ng-template>
                        <ng-template pTemplate="title">
                            {{ qtnset.name[appService.env.lang] }}
                        </ng-template>
                        <ng-template pTemplate="subtitle">
                            <span class="paragraph">{{ qtnset.description[appService.env.lang] }}</span>
                        </ng-template>
                        <ng-template pTemplate="footer" *ngIf="qtnset.cancelStatus === 'N'">
                            <button pButton type="button" class="button button-outlined" (click)="getQuestionnaire(qtnset.ID)">
                                {{ 'questionnaire.fillout.label' | translate | lowercase }}
                            </button>
                        </ng-template>
                    </p-card>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
