<div
    class="page-container"
    id="questionnaire-home-page">
    <div class="page-header h-auto">
        <div class="title heading">
            <ul class="table w-auto">
                <li>
                    <i class="fas fa-clipboard-list"></i>
                </li>
                <li>
                    {{ 'systemName.questionnaire.set.label' | translate | titlecase }}
                </li>
            </ul>
        </div>
        <div class="toolbar">
            <div
                #reloadButton
                class="toolbar-btn">
                <button
                    pButton
                    type="button"
                    class="button button-rounded p-button-secondary"
                    [disabled]="questionnaire.set.dataView.isLoading"
                    pTooltip="{{ 'reload.label' | translate | titlecase }}"
                    [tooltipDisabled]="questionnaire.set.dataView.isLoading"
                    [appendTo]="reloadButton"
                    (click)="questionnaire.set.getDataSource()">
                    <i class="fas fa-sync-alt" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div
            class="block heading text-center text-xl pt-3"
            *ngIf="
                questionnaire.set.dataView.isLoading === false &&
                questionnaire.set.datasource.length === 0
            ">
            {{ 'questionnaire.error.notFound.label' | translate | titlecase }}
        </div>
        <p-dataView
            class="questionnairesets"
            [value]="questionnaire.set.datasource"
            [loading]="questionnaire.set.dataView.isLoading"
            loadingIcon="fas fa-spin fa-spinner"
            layout="grid">
            <ng-template
                pTemplate="gridItem"
                let-qtnset>
                <div class="flex align-items-stretch col-12 sm:col-6 md:col-4 lg:col-3">
                    <p-card class="submitstatus-{{ qtnset.submitStatus | lowercase }}">
                        <ng-template pTemplate="title">
                            {{ qtnset.name[appService.env.lang] }}
                        </ng-template>
                        <ng-template pTemplate="subtitle">
                            <span class="paragraph">
                                {{ qtnset.description[appService.env.lang] }}
                            </span>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <div
                                class="text-xs font-normal"
                                *ngIf="
                                    qtnset.empQuestionnaireDoneID !== null &&
                                    qtnset.doneDate !== null
                                ">
                                <div>
                                    <span
                                        class="text-orange-700"
                                        *ngIf="qtnset.submitStatus === 'N'">
                                        {{ 'questionnaire.submitted.not.label' | translate }}
                                    </span>
                                    <span
                                        class="text-green-700"
                                        *ngIf="qtnset.submitStatus === 'Y'">
                                        {{ 'questionnaire.submitted.label' | translate }}
                                    </span>
                                </div>
                                <div class="mt-1">
                                    <span
                                        class="text-orange-700"
                                        *ngIf="qtnset.submitStatus === 'N'">
                                        Last updated on {{ qtnset.doneDate }}
                                    </span>
                                    <span
                                        class="text-green-700"
                                        *ngIf="qtnset.submitStatus === 'Y'">
                                        Submitted on {{ qtnset.doneDate }}
                                    </span>
                                </div>
                            </div>
                            <div
                                class="mt-3"
                                *ngIf="qtnset.cancelStatus === 'N'">
                                <button
                                    pButton
                                    type="button"
                                    class="button button-outlined"
                                    (click)="getQuestionnaire(qtnset.empQuestionnaireDoneID, qtnset.ID)">
                                    <span *ngIf="qtnset.submitStatus === 'N'">
                                        {{ (qtnset.empQuestionnaireDoneID === null ? 'questionnaire.fillout.label' : 'questionnaire.fillout.continue.label') | translate | lowercase }}
                                    </span>
                                    <span *ngIf="qtnset.submitStatus === 'Y'">
                                        {{ 'questionnaire.view.label' | translate | lowercase }}
                                    </span>
                                </button>
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
