/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๐๔/๐๙/๒๕๖๔>
Modify date : <๒๑/๐๔/๒๕๖๕>
Description : <>
=============================================
*/

@import '../../../variables.scss';

#questionnaire-home-page.page-container {
    & .page-header {
        & .toolbar {
            width: 40px;
        }
    }
    & .page-body {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin-top: 0.5rem;
        & ::ng-deep.questionnairesets {
            & .p-dataview  {
                & .p-dataview-loading-overlay {
                    padding-right: 0.5rem !important;
                    padding-left: 0.5rem !important;
                    margin-top: 0.5rem;
                }
            }
            & ::ng-deep {
                & .p-card {
                    margin: 0.5rem;
                    & .p-card-header {
                        height: 17px;
                        font-size: 0.685rem;
                        font-weight: $fontStyleMedium;
                        color: var(--surface-500);
                        margin-bottom: 0.25rem;
                    }
                    & .p-card-body {
                        & .p-card-content {
                            display: none;
                        }
                    }
                    & .p-card-footer {
                        & .p-button {
                            height: auto;
                            min-height: 41px;
                            font-size: 0.87rem;
                            color: $textColor !important;
                            &:hover:not(:disabled) {
                                background-color: $warningColorHover !important;
                                border-color: $warningColorHover !important;
                            }
                        }
                    }
                    &:hover {
                        background-color: $warningColor;
                        border-color: $warningColor;
                        & .p-card-body {
                            & .p-card-title,
                            & .p-card-subtitle {
                                color: #FFFFFF;
                            }
                        }
                        & .p-card-footer {
                            & .p-button {
                                color: #FFFFFF !important;
                                border-color: $warningColorHover !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #questionnaire-home-page.page-container {
        & .page-body {
            & .questionnairesets {
                & ::ng-deep {
                    & .p-dataview .grid {
                        & .col-12,
                        & p-card::ng-deep,
                        & .p-card,
                        & .p-card-body {
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
}
