/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๗/๐๙/๒๕๖๔>
Modify date : <๒๒/๑๐/๒๕๖๔>
Description : <>
=============================================
*/

@import './variables.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    min-width: $screenMinWidth;
    font-style: normal;
    font-size: 1rem;
    font-weight: $fontStyleRegular;
    color: $textColor;
    background-color: $backgroundColor !important;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: default;
    &:not(.mobile) {
        &.p-overflow-hidden,
        &.overflow-hidden {
            & header .topbar,
            & main {
                padding-right: 17px;
                & .topbar-background {
                    right: 17px !important;
                }
            }
            & .full-screen:not(.backdrop) {
                right: 17px;
            }
            & footer .footer {
                padding-right: 29px;
                & .muit-logo {
                    right: 29px !important;
                }
            }
            &.opera {
                & header .topbar,
                & main {
                    padding-right: 15px;
                    & .topbar-background {
                        right: 15px !important;
                    }
                }
                & .full-screen:not(.backdrop) {
                    right: 15px;
                }
                & footer .footer {
                    padding-right: 27px;
                    & .muit-logo {
                        right: 27px !important;
                    }
                }
            }
        }
    }
}

.fixed {
    min-width: $screenMinWidth;
}

.heading,
.p-component {
    font-family: $fontFamilyNoto !important;
}

.paragraph,
.p-inputtext {
    font-family: $fontFamilySarabun !important;
}

.vertical-middle {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

ul.table {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: table;
    table-layout: fixed;
    & > li {
        display: table-cell;
    }
}

.backdrop,
.p-dialog-mask {
    border-radius: 0;
    z-index: 10051 !important;
}

.p-button {
    color: $textColor;
    display: inline-block !important;
    &:enabled:focus {
        outline: 0 none !important;
        outline-offset: 0 !important;
    }
    &:focus,
    &:not(.p-button-raised):enabled:focus {
        box-shadow: none !important;
    }
    & .p-button-label {
        display: none;
    }
    &.button {
        width: 100%;
        height: 41px;
        font-size: 1rem;
        font-weight: $fontStyleSemibold;
        color: $textColor !important;
        border-radius: 4px !important;
        &:disabled {
            opacity: 1;
            & > * {
                opacity: 0.6;
            }
        }
        &.button-outlined {
            background-color: transparent !important;
            border: 2px solid $textColor !important;
            &.button-success {
                border-color: $successColor !important;
                &:hover {
                    background-color: $successColor !important;
                }
            }
        }
        &.button-rounded {
            border-radius: 50% !important;
        }
        &.button-text {
            background-color: transparent !important;
            border: 0 !important;
        }
        &.active,
        &:hover {
            background-color: var(--surface-400) !important;
        }
    }
}

.p-divider.p-divider-horizontal::before {
    border-bottom: 1px solid var(--surface-0);
}

.p-tooltip {
    padding: 0 !important;
    & .p-tooltip-arrow {
        display: none;
    }
    & .p-tooltip-text {
        width: max-content;
        font-size: 0.875rem;
        font-weight: $fontStyleLight;
        background-color: #05192D !important;
        box-shadow: none !important;
        padding: 0.25rem 0.5rem !important;
    }
}

.p-dialog-mask.p-component-overlay {
    padding: 1rem;
}

.p-dialog {
    width: 100%;
    max-width: 50rem;
    max-height: 100% !important;
    border-radius: 1rem !important;
    & .p-dialog-header {
        border-top-right-radius: 0.75rem !important;
        border-top-left-radius: 0.75rem !important;
    }
    & .p-dialog-content {
        width: 100%;
        height: 100%;
        line-height: 1.75;
        font-size: 1.125rem;
        background-color: transparent !important;
        border-radius: 0;
        padding: 1rem 0 75px 0 !important;
        overflow: hidden;
        & > * {
            width: 100%;
        }
        & .description {
            font-size: 1rem;
            color: var(--surface-800);
            margin-top: 0.5rem;
        }
        &.child {
            height: 100%;
            padding: 1rem 1.5rem 1rem 1.5rem !important;
            overflow-x: hidden;
            overflow-y: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0;
                background-color: transparent;
            }
        }
        &:not(.child) {
            border-bottom-right-radius: 0.75rem !important;
            border-bottom-left-radius: 0.75rem !important;
            display: flex;
        }
        & .p-dialog-footer {
            width: 100%;
            border-bottom-right-radius: 0.75rem !important;
            border-bottom-left-radius: 0.75rem !important;
            padding: 1rem 1.5rem 0 1.5rem !important;
            overflow: hidden;
            white-space: nowrap;
            position: absolute;
            & .p-button {
                min-width: 100px;
                height: 42px;
            }
        }
    }
    &.modal-error {
        & .p-dialog-header {
            display: none;
        }
        & .p-dialog-content {
            border-top-right-radius: 0.75rem !important;
            border-top-left-radius: 0.75rem !important;
            &.child {
                padding-top: 0 !important;
            }
        }
        & .p-dialog-content,
        & .p-dialog-footer {
            color: var(--surface-0);
            background-color: #D32F2F !important;
        }
        & .p-dialog-footer {
            border-top: 1px solid #C02929;
            & .p-button {
                background-color: #C02929;
                border-color: #C02929;
            }
        }
    }
}

.p-dataview {
    & .p-dataview-loading-overlay {
        height: auto !important;
        background-color: transparent !important;
        justify-content: left !important;
        & .p-dataview-loading-icon {
            color: var(--text-color-secondary);
            position: relative;
        }
    }
    & .p-dataview-emptymessage {
        display: none;
    }
    & .p-dataview-content {
        min-height: 60px;
        background-color: transparent !important;
    }
    &.p-dataview-list {
        & .p-dataview-content > .p-grid > div {
            border: 0 !important;
        }
    }
}

.p-card {
    color: $textColor;
    border: 2px solid rgba(158, 99, 99, 0.2);
    border-radius: 1rem !important;
    box-shadow: none !important;
    padding: 1rem 1.5rem !important;
    &:hover {
        background-color: rgb(255, 212, 59);
        border-color: rgba(255, 212, 59, 1);
    }
    & .p-card-body {
        line-height: 1.7;
        padding: 0 !important;
        & .p-card-title {
            font-size: 1.35rem;
            font-weight: $fontStyleSemibold;
            color: $textColor;
        }
        & .p-card-subtitle {
            min-height: 28px;
            color: $textColor;
            font-weight: $fontStyleLight;
            margin-bottom: 0;
        }
    }
    & .p-card-footer {
        padding-top: 1.5rem !important;
    }
}

.p-panel {
    & .p-panel-header {
        border-color: #DADCE0 !important;
        border-top-right-radius: 8px !important;
        border-top-left-radius: 8px !important;
    }
    & .p-panel-content {
        color: $textColor !important;
        border-color: #DADCE0 !important;
        border-bottom-right-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
        padding: 1rem 1.5rem 1.5rem 1.5rem !important;
    }
}

.p-overlaypanel {
    &::before,
    &::after {
        display: none;
    }
}

.p-orderlist {
    & .p-orderlist-item {
        color: $textColor !important;
        &:focus {
            box-shadow: none !important;
        }
    }
}

.p-inputtext,
.p-radiobutton-box,
.p-checkbox-box {
    border: 2px solid $inputColor !important;
    border-radius: 4px !important;
    &.p-highlight {
        background-color: $inputColorActive !important;
        border-color: $inputColorActive !important;
        & .p-radiobutton-icon {
            background-color: $inputColorActive !important;
            border: 1px solid var(--surface-0) !important;
        }
        & .p-checkbox-icon {
            font-size: 0.75rem !important;
        }
    }
    &:not(.p-disabled) {
        &:focus,
        &.p-focus {
            box-shadow: none !important;
        }
        &:focus,
        &:hover {
            border-color: $inputColorActive !important;
        }
    }
}

.p-radiobutton,
.p-checkbox {
    & .p-radiobutton-box {
        border-radius: 50% !important;
        &.p-highlight {
            background-color: var(--surface-0) !important;
        }
    }
    & .p-radiobutton-box,
    & .p-checkbox-box {
        &:not(.p-disabled) {
            &:hover {
                box-shadow: 0 0 0 0.5rem rgba(0, 155, 216, 0.05) !important;
            }
            &.p-highlight {
                &:hover {
                    box-shadow: 0 0 0 0.5rem rgba(0, 155, 216, 0.1) !important;
                }
            }
        }
    }
}

.p-inputtext {
    height: 48px;
    line-height: 1.5;
    font-size: 1rem !important;
    color: $textColor !important;
    background-color: var(--surface-0);
    padding: 10px 12px 13px 12px !important;
    margin: 0 !important;
    display: table-cell;
    vertical-align: baseline;
}

.p-inputtextarea {
    min-height: 119px;
}

.overflow-hidden {
    overflow: hidden;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-container {
    width: 100%;
    padding-top: 1rem;
    position: relative;
    word-wrap: break-word;
    & .page-header {
        width: 100%;
        height: 35px;
        padding-right: 1rem;
        padding-left: 1rem;
        display: table;
        table-layout: fixed;
        & .title {
            width: 100%;
            height: 100%;
            line-height: 1.5;
            font-size: 1.65rem;
            font-weight: $fontStyleSemibold;
            padding-right: 1rem;
            display: table-cell;
            vertical-align: top;
            & .table {
                & i {
                    width: 25px;
                    font-size: 1.05rem;
                    position: relative;
                    top: -1px;
                }
            }
        }
        & .toolbar {
            width: 100%;
            height: 100%;
            display: table-cell;
            vertical-align: top;
            position: relative;
            & .toolbar-btn {
                display: inline-block;
                position: relative;
                & .p-button {
                    height: 40px;
                    width: 40px;
                    font-size: 1rem;
                    font-weight: $fontStyleRegular;
                    padding: 0;
                    & i {
                        font-size: 1.25rem;
                        position: relative;
                        top: 2px;
                    }
                }
                & .p-tooltip {
                    top: 45px !important;
                    right: 0 !important;
                    left: auto !important;
                }
            }
        }
    }
    & .page-body {
        width: 100%;
        font-weight: $fontStyleRegular;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-top: 1rem;
    }
}

#unsupported-page {
    display: none;
}

#unsupported-page,
#not-found-page {
    &.page-container {
        padding: 1rem 1rem;
        & .page-header {
            height: auto !important;
            margin-bottom: 1rem;
        }
        & .page-body {
            line-height: 1.6;
            font-size: 1.1rem;
            color: #6C757D;
            & strong {
                color: #000000;
            }
        }
    }
}
