/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๗/๐๙/๒๕๖๔>
Modify date : <๑๓/๐๒/๒๕๖๕>
Description : <>
=============================================
*/

@import '~@ng-select/ng-select/themes/default.theme.css';
@import './variables.scss';
@import './fonts.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    min-width: $screenMinWidth;
    font-style: normal;
    font-size: 1rem;
    font-weight: $fontStyleRegular;
    color: $textColor;
    background-color: $backgroundColor !important;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: default;
    /*
    &:not(.mobile) {
        &.p-overflow-hidden,
        &.overflow-hidden {
            & header .topbar,
            & main {
                padding-right: 17px;
                & .topbar-background {
                    right: 17px !important;
                }
            }
            & .full-screen:not(.backdrop) {
                right: 17px;
            }
            & footer .footer {
                padding-right: 29px;
                & .muit-logo {
                    right: 29px !important;
                }
            }
            &.opera {
                & header .topbar,
                & main {
                    padding-right: 15px;
                    & .topbar-background {
                        right: 15px !important;
                    }
                }
                & .full-screen:not(.backdrop) {
                    right: 15px;
                }
                & footer .footer {
                    padding-right: 27px;
                    & .muit-logo {
                        right: 27px !important;
                    }
                }
            }
        }
    }
    */
}

.fixed {
    min-width: $screenMinWidth;
}

.heading,
.p-component {
    font-family: $fontFamilyNoto !important;
}

.paragraph,
.p-inputtext,
.p-inline-message,
.ng-select,
.ng-select .ng-select-container .ng-value-container .ng-input > input,
.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item,
.p-toast-message-content {
    font-family: $fontFamilySarabun !important;
}

.vertical-middle {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

::placeholder {
    color: $textColor !important;
    opacity: 0.5;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: $textColor !important;
    opacity: 0.5;
}

ul.table {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: table;
    table-layout: fixed;
    & > li {
        display: table-cell;
    }
}

.backdrop,
.p-dialog-mask {
    border-radius: 0;
    z-index: 10051 !important;
}

.p-button {
    color: $textColor;
    border-width: 2px !important;
    display: inline-block !important;
    transition: none !important;
    &:enabled:focus {
        outline: 0 none !important;
        outline-offset: 0 !important;
    }
    &:focus,
    &:not(.p-button-raised):enabled:focus {
        box-shadow: none !important;
    }
    & .p-button-label {
        display: none;
    }
    &.button {
        width: 100%;
        height: 41px;
        font-size: 1rem;
        font-weight: $fontStyleSemibold;
        color: #FFFFFF !important;
        border-radius: 4px;
        &:disabled {
            opacity: 1;
            & > * {
                opacity: 0.5;
            }
        }
        &.button-outlined {
            color: $textColor !important;
            background-color: transparent !important;
            border: 2px solid $textColor !important;
            &.p-button-success {
                border-color: $successColor !important;
                &:hover:not(:disabled) {
                    background-color: $successColor !important;
                }
            }
        }
        &.button-rounded {
            border-radius: 50% !important;
        }
        &.button-text {
            background-color: transparent !important;
            border: 0 !important;
        }
        &.active,
        &:hover:not(:disabled) {
            background-color: var(--surface-400) !important;
        }
        &.p-button-success {
            background-color: $successColor !important;
            border-color: $successColor;
            &:hover:not(:disabled) {
                background-color: $successColorHover !important;
                border-color: $successColorHover !important;
            }
        }
        &.p-button-warning {
            background-color: $warningColor !important;
            border-color: $warningColor;
            &:hover:not(:disabled) {
                background-color: $warningColorHover !important;
                border-color: $warningColorHover !important;
            }
        }
        &.p-button-gray {
            background-color: var(--surface-300);
            border-color: var(--surface-300);
            &:hover:not(:disabled) {
                border-color: var(--surface-400);
            }
        }
        &.p-button-secondary {
            background-color: $secondaryColor !important;
            border-color: $secondaryColor;
            &:hover:not(:disabled) {
                background-color: $secondaryColorHover !important;
                border-color: $secondaryColorHover !important;
            }
        }
    }
}

.p-divider.p-divider-horizontal::before {
    border-bottom: 1px solid var(--surface-0);
}

.p-tooltip {
    padding: 0 !important;
    & .p-tooltip-arrow {
        display: none;
    }
    & .p-tooltip-text {
        width: max-content;
        font-size: 0.875rem;
        font-weight: $fontStyleLight;
        background-color: #05192D !important;
        box-shadow: none !important;
        padding: 0.25rem 0.5rem !important;
    }
}

.p-dialog-mask.p-component-overlay {
    padding: 1rem;
}

.p-dialog {
    width: 100%;
    max-width: 50rem;
    max-height: 100% !important;
    border-radius: 1rem !important;
    & .p-dialog-header {
        border-top-right-radius: 0.75rem !important;
        border-top-left-radius: 0.75rem !important;
    }
    & .p-dialog-content {
        width: 100%;
        height: 100%;
        line-height: 1.75;
        font-size: 1.125rem;
        background-color: transparent !important;
        border-radius: 0;
        padding: 1rem 0 75px 0 !important;
        overflow: hidden;
        & > * {
            width: 100%;
        }
        & .description {
            font-size: 1rem;
            color: var(--surface-800);
            margin-top: 0.5rem;
        }
        &.child {
            height: 100%;
            padding: 1rem 1.5rem 1rem 1.5rem !important;
            word-break: break-word;
            overflow-x: hidden;
            overflow-y: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0;
                background-color: transparent;
            }
        }
        &:not(.child) {
            border-bottom-right-radius: 0.75rem !important;
            border-bottom-left-radius: 0.75rem !important;
            display: flex;
        }
        & .p-dialog-footer {
            width: 100%;
            border-bottom-right-radius: 0.75rem !important;
            border-bottom-left-radius: 0.75rem !important;
            padding: 1rem 1.5rem 0 1.5rem !important;
            overflow: hidden;
            white-space: nowrap;
            position: absolute;
            & .p-button {
                min-width: 100px;
                height: 42px;
            }
        }
    }
    &.modal-danger,
    &.modal-info,
    &.modal-success {
        & .p-dialog-header {
            display: none;
        }
        & .p-dialog-content {
            border-top-right-radius: 0.75rem !important;
            border-top-left-radius: 0.75rem !important;
            &.child {
                padding-top: 0 !important;
            }
        }
        & .p-dialog-content,
        & .p-dialog-footer {
            color: var(--surface-0);
        }
        & .p-dialog-footer {
            border-top-width: 1px;
            border-top-style: solid;
            & .p-button {
                margin-right: 0;
            }
        }
    }
    &.modal-danger {
        & .p-dialog-content,
        & .p-dialog-footer {
            background-color: $errorColor !important;
        }
        & .p-dialog-footer {
            border-top-color: $errorColor;
            & .p-button {
                background-color: $errorColorHover !important;
                border-color: $errorColorHover !important;
            }
        }
    }
    &.modal-info {
        & .p-dialog-content,
        & .p-dialog-footer {
            background-color: $infoColor !important;
        }
        & .p-dialog-footer {
            border-top-color: $infoColor;
            & .p-button {
                background-color: $infoColorHover !important;
                border-color: $infoColorHover !important;
            }
        }
    }
    &.modal-success {
        & .p-dialog-content,
        & .p-dialog-footer {
            background-color: $successColor !important;
        }
        & .p-dialog-footer {
            border-top-color: $successColor;
            & .p-button {
                background-color: $successColorHover !important;
                border-color: $successColorHover !important;
            }
        }
    }
}

.p-dataview {
    & .p-dataview-loading-overlay {
        height: auto !important;
        background-color: transparent !important;
        justify-content: center !important;
        & .p-dataview-loading-icon {
            font-size: 2.5rem;
            position: relative;
        }
    }
    & .p-dataview-emptymessage {
        display: none;
    }
    & .p-dataview-content {
        min-height: 60px;
        background-color: transparent !important;
    }
    &.p-dataview-list {
        & .p-dataview-content > .p-grid > div {
            border: 0 !important;
        }
    }
}

p-card {
    display: flex;
    flex: 1;
    & .p-card {
        color: $textColor;
        border: 2px solid rgba(158, 99, 99, 0.2);
        border-radius: 1rem !important;
        box-shadow: none !important;
        padding: 1rem 1.5rem !important;
        display: flex;
        flex: 1;
        & .p-card-body {
            line-height: 1.5;
            padding: 0 !important;
            display: flex;
            flex: 1;
            flex-direction: column;
            & .p-card-title {
                font-size: 1.35rem;
                font-weight: $fontStyleSemibold;
                color: $textColor;
            }
            & .p-card-subtitle {
                min-height: 28px;
                line-height: 1.6;
                color: $textColor;
                font-weight: $fontStyleLight;
                margin-bottom: 0;
            }
        }
        & .p-card-footer {
            padding-top: 1rem !important;
            margin-top: auto;
        }
    }
}

.p-panel {
    & .p-panel-header {
        border-color: #DADCE0 !important;
        border-top-right-radius: 12px !important;
        border-top-left-radius: 12px !important;
    }
    & .p-panel-content {
        color: $textColor !important;
        border-color: #DADCE0 !important;
        border-bottom-right-radius: 12px !important;
        border-bottom-left-radius: 12px !important;
        padding: 1rem 1.5rem 1rem 1.5rem !important;
    }
    & .p-component-overlay {
        border-radius: inherit;
        position: absolute;
        z-index: 1;
    }
    & .p-disabled {
        opacity: 0.5;
    }
}

.p-overlaypanel {
    &::before,
    &::after {
        display: none;
    }
}

.p-orderlist {
    & .p-orderlist-list {
        min-height: 0;
        & .p-orderlist-item {
            color: $textColor !important;
            &:focus {
                box-shadow: none !important;
            }
        }
    }
}

.p-inputtext,
.p-radiobutton-box,
.p-checkbox-box {
    border: 2px solid $inputColor !important;
    border-radius: 4px !important;
    transition: none !important;
    &.p-highlight {
        background-color: $inputColorActive !important;
        border-color: $inputColorActive !important;
        & .p-radiobutton-icon {
            background-color: $inputColorActive !important;
            border: 1px solid var(--surface-0) !important;
        }
        & .p-checkbox-icon {
            font-size: 1rem !important;
        }
    }
    &:not(.p-disabled) {
        &:focus,
        &.p-focus {
            box-shadow: none !important;
        }
        &:focus,
        &:hover {
            border-color: $inputColorActive !important;
        }
    }
}

.p-radiobutton,
.p-checkbox {
    & .p-radiobutton-box {
        border-radius: 50% !important;
        &.p-highlight {
            background-color: var(--surface-0) !important;
        }
    }
    & .p-radiobutton-box,
    & .p-checkbox-box {
        &:not(.p-disabled) {
            &:hover {
                box-shadow: 0 0 0 0.5rem rgba(0, 155, 216, 0.05) !important;
            }
            &.p-highlight {
                &:hover {
                    box-shadow: 0 0 0 0.5rem rgba(0, 155, 216, 0.1) !important;
                }
            }
        }
        & .p-radiobutton-icon,
        & .p-checkbox-icon {
            transition-duration: 0s !important;
        }
    }
}

.p-inputtext,
.ng-select .ng-select-container,
.ng-select .ng-select-container .ng-value-container .ng-input {
    height: 48px;
    min-height: 48px;
    line-height: 1.5;
    font-size: 1rem !important;
    font-weight: $fontStyleRegular !important;
    color: $textColor !important;
    background-color: var(--surface-0);
    padding: 10px 12px 13px 12px !important;
    margin: 0 !important;
    display: table-cell;
    vertical-align: baseline;
}

.p-inputtextarea {
    min-height: 119px;
    font-weight: $fontStyleRegular !important;
}

.p-inline-message {
    border-radius: 4px !important;
    padding: 12px 14px !important;
    justify-content: left !important;
    &.p-inline-message-error {
        background-color: $errorColor !important;
        color: var(--surface-0) !important;
    }
    & .p-inline-message-icon {
        display: none;
    }
    & .p-inline-message-text {
        font-size: 0.875rem !important;
    }
}

.ng-select {
    font-weight: $fontStyleRegular;
    & .ng-select-container {
        border: 2px solid $inputColor !important;
        border-radius: 4px !important;
        &:hover {
            border-color: $inputColorActive !important;
        }
    }
    & .ng-value-container {
        padding-right: 0.5rem;
        padding-left: 0 !important;
        & .ng-placeholder {
            color: $textColor !important;
            opacity: 0.5;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .ng-input {
            height: 100%;
            min-height: 0;
            background-color: transparent !important;
            top: 0 !important;
            & > input {
                font-size: inherit;
            }
        }
    }
    & .ng-arrow-wrapper {
        width: auto;
        padding-right: 0;
        padding-left: 0.5rem;
    }
    & .ng-dropdown-panel {
        background-color: var(--surface-200);
        border-color: #FFFFFF !important;
        border-width: 2px;
        border-radius: 4px !important;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        &.ng-select-top {
            margin-bottom: 0;
        }
        &.ng-select-bottom {
            margin-top: 0;
        }
        & .ng-dropdown-panel-items {
            max-height: 236px;
            & .ng-option {
                font-size: 1rem;
                font-weight: $fontStyleRegular;
                color: $textColor;
                background-color: transparent;
                padding: 10px 12px;
                white-space: normal;
                word-break: break-all;
                word-wrap: break-word;
                &.ng-option-marked {
                    background-color: #F5FAFF;
                }
                &.ng-option-selected {
                    background-color: #EBF5FF;
                    & .ng-option-label {
                        font-weight: $fontStyleMedium;
                    }
                }
            }
        }
    }
    &.ng-select-opened .ng-select-container,
    &.ng-select-focused:not(.ng-select-opened),
    &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
        border-color: $inputColorActive !important;
        outline: 0;
        box-shadow: 0 0 0 0;
    }
    &.ng-select-opened {
        & .ng-select-container,
        & .ng-dropdown-panel {
            z-index: 1 !important;
        }
    }
}

.p-autocomplete {
    & .p-autocomplete-panel {
        max-height: 238px !important;
        background-color: var(--surface-200);
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        z-index: 1 !important;
        & .p-autocomplete-items {
            padding: 0 !important;
            & .p-autocomplete-item {
                font-size: 1rem;
                font-weight: $fontStyleRegular;
                color: $textColor !important;
                padding: 10px 12px;
                white-space: normal;
                word-break: break-all;
                word-wrap: break-word;
                &:hover {
                    background-color: #F5FAFF;
                }
            }
        }
    }
}

.p-inputtext,
.p-radiobutton-box,
.p-checkbox-box,
.ng-select-disabled {
    &:disabled,
    &.p-disabled,
    &.p-disabled *,
    & > .ng-select-container  {
        background-color: var(--surface-300) !important;
        opacity: 0.6 !important;
        cursor: default !important;
        pointer-events: none;
    }
}
.p-checkbox-box.p-highlight {
    &:disabled,
    &.p-disabled,
    &.p-disabled * {
        background-color: $inputColorActive !important;
    }
}
.p-radiobutton-disabled {
    cursor: default !important;
}

.overflow-hidden {
    overflow: hidden;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-container {
    width: 100%;
    padding-top: 1rem;
    position: relative;
    word-wrap: break-word;
    & .page-header {
        width: 100%;
        height: 35px;
        padding-right: 1rem;
        padding-left: 1rem;
        display: table;
        table-layout: fixed;
        & .title {
            width: 100%;
            height: 100%;
            line-height: 1.5;
            font-size: 1.65rem;
            font-weight: $fontStyleSemibold;
            padding-right: 1rem;
            display: table-cell;
            vertical-align: top;
            & .table {
                & i {
                    width: 25px;
                    font-size: 1.05rem;
                    position: relative;
                    top: -1px;
                }
            }
        }
        & .toolbar {
            width: 100%;
            height: 100%;
            display: table-cell;
            vertical-align: top;
            position: relative;
            & .toolbar-btn {
                display: inline-block;
                position: relative;
                & .p-button {
                    height: 40px;
                    width: 40px;
                    font-size: 1rem;
                    font-weight: $fontStyleRegular;
                    padding: 0;
                    & i {
                        font-size: 1.25rem;
                        position: relative;
                        top: 2px;
                    }
                }
                & .p-tooltip {
                    top: 45px !important;
                    right: 0 !important;
                    left: auto !important;
                }
            }
        }
    }
    & .page-body {
        width: 100%;
        font-weight: $fontStyleRegular;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-top: 1rem;
    }
}

.formfield-error {
    & .p-inputtext {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    & .p-inline-message {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }
}

#unsupported-page,
#not-found-page {
    &.page-container {
        padding: 1rem 1rem;
        & .page-header {
            height: auto !important;
            margin-bottom: 1rem;
        }
        & .page-body {
            line-height: 1.6;
            font-size: 1.1rem;
            color: #6C757D;
            & strong {
                color: #000000;
            }
        }
    }
}
