/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๗/๐๙/๒๕๖๔>
Modify date : <๐๓/๑๒/๒๕๖๔>
Description : <>
=============================================
*/

$fontFamilyIBMPlexSansThai: 'IBM Plex Sans Thai', sans-serif;
$fontFamilyPrompt: 'Prompt', sans-serif;
$fontFamilyKanit: 'Kanit', sans-serif;
$fontFamilySarabun: 'Sarabun', sans-serif;
$fontFamilyNoto: 'Noto Sans Thai', 'Noto Sans Display', sans-serif;
$fontStyleThin: 100;
$fontStyleExtralight: 200;
$fontStyleLight: 300;
$fontStyleRegular: 400;
$fontStyleMedium: 500;
$fontStyleSemibold: 600;
$fontStyleBold: 700;
$fontStyleExtrabold: 800;
$fontStyleBlack: 900;
$fontSize72: 72px;
$fontSize60: 60px;
$fontSize48: 48px;
$fontSize36: 36px;
$fontSize32: 32px;
$fontSize30: 30px;
$fontSize28: 28px;
$fontSize26: 26px;
$fontSize24: 24px;
$fontSize22: 22px;
$fontSize21: 21px;
$fontSize20: 20px;
$fontSize19: 19px;
$fontSize18: 18px;
$fontSize17: 17px;
$fontSize16: 16px;
$fontSize15: 15px;
$fontSize14: 14px;
$fontSize13: 13px;
$fontSize12: 12px;
$fontSize11: 11px;
$fontSize10: 10px;
$fontSize9: 9px;
$screenMinWidth: 356px;
$headerMaxHeight: 70px;
$footerMaxHeight: 55px;
$navbarbrandMaxHeight: 70px;
$sidebarMaxWidth: 260px;
$imagePath: 'assets/images';
$fontPath: 'assets/fonts';
$themeColor: rgb(37, 57, 136);
$backgroundColor: rgb(247, 243, 235);
$textColor: rgb(5, 25, 45);
$successColor: rgb(3, 239, 98);
$successColorHover: rgb(101, 255, 143);
$inputColor: rgb(229, 225, 218);
$inputColorActive: rgb(0, 155, 216);
$errorBackgroundColor: rgb(211, 47, 47);
$errorBorderColor: rgb(192, 41, 41);
$errorButtonColor: rgb(192, 41, 41);
